@model RoomDetailsViewModel

@{
    ViewBag.Title = "Room details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="card col-8 border-0" style="font-size:20px;">
            <p style="font-size:40px;">Room Number: <b><u>@Model.RoomNumber</u></b></p>
            <p style="font-size:40px;">Reservations count: <b><u>@Model.NumberOfReservations</u></b></p>
            <p >Capacity: <b><u>@Model.Capacity</u></b></p>
            <p>Type: @Model.RoomType</p>
            <p>Price per person: @Model.PricePerPerson</p>
            <p>Price on full capacity: @Model.PriceOnFullCapacity</p>


            @if (Model.DeletedOn != null && Model.IsActive == false)
            {
                <p>Deleted on: <b>@Model.DeletedOn</b></p>
            }
            <p><b>Active: @(Model.IsActive ? "Active" : "Disabled")</b>
                @if (@Model.IsActive)
                {
                    
                    <a asp-controller="Room" method="get" asp-action="Delete" asp-route-id="@Model.Id"
                       class="btn btn-danger">Disable</a>
                }
                else
                {
                    <a asp-controller="Room" asp-action="Enable" asp-route-id="@Model.Id"
                       class="btn btn-info">Enable</a>
                }
            </p>

            <p><b>Occupation: @(Model.IsOccupied ? "Occupied" : "Free")</b></p>

            <p><b>Cleaned: @(Model.IsCleaned ? "Cleaned" : "Dirty")</b>
                @if (!@Model.IsCleaned)
                {

                    <a asp-controller="Room" method="get" asp-action="IsCleaned" asp-route-id="@Model.Id"
                       class="btn btn-success">Cleaned</a>
                }
                else
                {
                    <a asp-controller="Room" asp-action="IsDirty" asp-route-id="@Model.Id"
                       class="btn btn-warning">Dirty</a>
                }
                </p>
            

            <p><b>Service: @(Model.IsOutOfService ? "Out of Service" : "In service")</b>
                @if (@Model.IsOutOfService)
                {

                    <a asp-controller="Room" method="get" asp-action="InService" asp-route-id="@Model.Id"
                   class="btn btn-success">In Service</a>
                }
                else
                {
                    <a asp-controller="Room" asp-action="OutOfService" asp-route-id="@Model.Id"
                   class="btn btn-warning">Out of Service</a>
                }
            </p>

          <p>Created on: @Model.CreatedOn</p>


           <p></p>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Currently viewing as: @User.Identity?.Name</h5>
                </div>
            </div>
            <p></p>
            <div>
                <a asp-controller="Room" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-success col-5">Edit</a>
                
                
            </div>
            <div>
                @if (Model.EditedOn != null)
                {
                    <p>Edited on: <b>@($"{Model.EditedOn:d}")</b></p>
                }
            </div>
            

        </div>
    </div>
</div>
