@model RoomDetailsViewModel

@{
    ViewBag.Title = "Room details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="card col-8 border-0" style="font-size:20px;">
            <p style="font-size:40px;">Room Number: <b><u>@Model.RoomNumber</u></b></p>
            <p style="font-size:40px;">Reservations count: <b><u>@Model.NumberOfReservations</u></b></p>
            <p >Capacity: <b><u>@Model.Capacity</u></b></p>
            <p>Type: @Model.RoomType</p>
            <p>Price per person: @Model.PricePerPerson</p>
            <p>Price on full capacity: @Model.PriceOnFullCapacity</p>

            @if (Model.EditedOn != null)
            {
                <p>Edited on: <b>@Model.EditedOn</b></p>
            }

            @if (Model.DeletedOn != null && Model.IsActive == false)
            {
                <p>Deleted on: <b>@Model.DeletedOn</b></p>
            }

          <p><i>(@(Model.IsActive ? "Active" : "Disabled"))</i></p>
            <p><i>(@(Model.IsOccupied ? "Occupied" : "Free"))</i></p>
            <p><i>(@(Model.IsCleaned ? "Cleaned" : "Dirty"))</i></p>
            <p><i>(@(Model.IsOutOfService ? "Out of Service" : "In service"))</i></p>

          <p>Created on: @Model.CreatedOn</p>


           <p></p>
@*
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("HUMAN RESOURCES"))
                {
                    <a class="btn btn-warning" asp-controller="ManageEmployees" asp-action="Edit"
                   asp-route-id="@Model.Id">Edit</a>

                    <a class="ml-2 btn btn-danger" asp-controller="ManageEmployees" asp-action="Disable"
                   asp-route-id="@Model.Id">Delete</a>

                }
            </div>*@
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Currently viewing as: @User.Identity?.Name</h5>
                </div>
            </div>
        </div>
    </div>
</div>
