

@model SingleEmployeeServiceModel

<div class="col-md-4">
    <div class="card mb-3">

        <div class="card-body text-center">
            <h4>@Model.FirstName @Model.MiddleName @Model.LastName</h4>
            <h3>@Model.UserName</h3>
            <h6>RFID: <b>@Model.RFID</b></h6>
            <h6>Department: <b>@Model.DepartmentName</b></h6>
            <h6>
            </h6>
            <h6>(@(Model.IsActive ? "Active" : "Disabled"))</h6>
            <br />
            <a asp-controller="ManageEmployees" asp-action="Details" asp-route-id="@Model.UserId"
               class="btn btn-success">Details</a>
            @if (this.User.Identity.IsAuthenticated)
            {
                <a asp-controller="ManageEmployees" asp-action="Edit" asp-route-id="@Model.UserId"
                   class="btn btn-warning">Edit</a>

                if (@Model.IsActive)
                {

                    <a asp-controller="ManageEmployees" asp-action="Disable" id="deleteBtn" onclick="myConfirm(event)" asp-route-id="@Model.UserId"
                       class="btn btn-danger">Disable</a>
                }
                else
                {
                    <a asp-controller="ManageEmployees" asp-action="Enable" asp-route-id="@Model.UserId"
                       class="btn btn-info">Enable</a>
                }
                
                <p></p>
           
            }
        </div>
    </div>
</div>

<script>
        function myConfirm(e) {
        

            e.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Disable!'
            }).then((result) => {
                if (result.isConfirmed) {

                        e.target.removeAttribute("onclick");
                        
                        e.target.click();
                }
            })
        }
    </script>