@model EmployeeEditViewModel

@{
    ViewData["Title"] = $"Edit employee";
}


<h1>Edit employee</h1>

<h4>Username: @Model.UserName</h4>
<hr />
<div class="row" style="font-size:17px">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RFID" class="control-label"></label>
                <input asp-for="RFID" class="form-control" />
                <span asp-validation-for="RFID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EGN" class="control-label"></label>
                <input asp-for="EGN" class="form-control" />
                <span asp-validation-for="EGN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
                               
            <p>

            </p>
            <div class="form-group">
                <div class="form-group">
                    <input asp-for="IsActive" type="checkbox" class="btn-check form-group form-check" id="btn-check-2-outlined">
                    <label asp-for="IsActive" class="btn btn-outline-success" for="btn-check-2-outlined">Active/Inactive</label><br>
                </div>
            </div>
            <p></p>
            <div class="form-group row">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

       

    </div>

    <div style="float:right" class="col-md-4">
        <label>Remove department:</label>

        <form asp-action="RemoveDepartment" method="post">
            @for (int i = 0; i < Model.DepartmentsEmployeeDoesntHave.Count; i++)
            {
                <input asp-for="DepartmentsEmployeeDoesntHave.ToArray()[i].DepartmentName" class="visually-hidden"/>
                <input asp-for="DepartmentsEmployeeDoesntHave.ToArray()[i].DepartmentId" class="visually-hidden"/>
            }

            <input asp-for="Id" class="visually-hidden"/>
            <input asp-for="FirstName" class="visually-hidden"/>
            <input asp-for="MiddleName" class="visually-hidden"/>
            <input asp-for="LastName" class="visually-hidden"/>
            <input asp-for="EGN" class="visually-hidden"/>
            <input asp-for="Salary" class="visually-hidden"/>
            <input asp-for="RFID" class="visually-hidden"/>
            <input asp-for="UserName" class="visually-hidden"/>
            <input asp-for="Email" class="visually-hidden"/>
            <input asp-for="PhoneNumber" class="visually-hidden"/>
@*            <input asp-for="DepartmentsEmployeeDoesntHave" class="visually-hidden"/>*@
            <input asp-for="DepartmentsOfEmployee" class="visually-hidden"/>
            <input asp-for="Id" class="visually-hidden"/>
            <div class="mb-3">
                <label asp-for="@Model.DepartmentsOfEmployee" class="form-label">Employee's department.</label>
                <select asp-for="@Model.DepartmentOfEmployeeId" class="form-control">

                    @foreach (var dep in Model.DepartmentsOfEmployee)
                    {
                        <option value="@dep.DepartmentId">@dep.DepartmentName</option>
                    }
                </select>
                <span asp-validation-for="DepartmentOfEmployeeId" class="text-danger"></span>
            </div>


            <div class="form-group" align="right">
                <input type="submit" value="Remove department" class="btn btn-primary btn-warning"/>
            </div>

        </form>
            <p></p>

            
    <label>Add department:</label>

        <form asp-action="AddDepartment" method="post">
            <input asp-for="Id" class="visually-hidden" />
            <input asp-for="FirstName" class="visually-hidden" />
            <input asp-for="MiddleName" class="visually-hidden" />
            <input asp-for="LastName" class="visually-hidden" />
            <input asp-for="EGN" class="visually-hidden" />
            <input asp-for="Salary" class="visually-hidden" />
            <input asp-for="RFID" class="visually-hidden" />
            <input asp-for="UserName" class="visually-hidden" />
            <input asp-for="Email" class="visually-hidden" />
            <input asp-for="PhoneNumber" class="visually-hidden" />
            <input asp-for="DepartmentsEmployeeDoesntHave" class="visually-hidden" />
            <input asp-for="DepartmentsOfEmployee" class="visually-hidden" />
            <div class="mb-3">
                <label asp-for="@Model.DepartmentsEmployeeDoesntHave" class="form-label">Departments employee doesn't belong to.</label>
                <select asp-for="@Model.DepartmentEmployeeDoesntHaveId" class="form-control">

                    @foreach (var dep in Model.DepartmentsEmployeeDoesntHave)
                    {
                        <option value="@dep.DepartmentId">@dep.DepartmentName</option>
                    }
                </select>
                <span asp-validation-for="DepartmentEmployeeDoesntHaveId" class="text-danger"></span>
            </div>

            <div class="form-group" align="right">
                <input type="submit" value="Add department" class="btn btn-primary btn-info" />
            </div>
        </form>
</div>

</div>




<div>
    <a asp-action="All">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
