@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="@Model.FirstName" class="form-control" autocomplete="firstName" aria-required="true" />
                <label asp-for="@Model.FirstName"></label>
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-floating">
                <input asp-for="@Model.MiddleName" class="form-control" autocomplete="middleName" aria-required="true" />
                <label asp-for="@Model.MiddleName"></label>
                <span asp-validation-for="@Model.MiddleName" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-floating">
                <input asp-for="@Model.LastName" class="form-control" autocomplete="lastName" aria-required="true" />
                <label asp-for="@Model.LastName"></label>
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-floating">
                <input asp-for="@Model.Salary" class="form-control" autocomplete="salary" aria-required="true" />
                <label asp-for="@Model.Salary"></label>
                <span asp-validation-for="@Model.Salary" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-floating">
                <input asp-for="@Model.RFID" class="form-control" autocomplete="RFID" aria-required="true" />
                <label asp-for="@Model.RFID"></label>
                <span asp-validation-for="@Model.RFID" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-floating">
                <input asp-for="@Model.EGN" class="form-control" autocomplete="EGN" aria-required="true" />
                <label asp-for="@Model.EGN"></label>
                <span asp-validation-for="@Model.EGN" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-floating">
                <input asp-for="@Model.UserName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="@Model.UserName"></label>
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-floating">
                <input asp-for="@Model.Email" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="@Model.Email"></label>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-floating">
                <input asp-for="@Model.PhoneNumber" class="form-control" autocomplete="phoneNumber" aria-required="true" />
                <label asp-for="@Model.PhoneNumber"></label>
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-floating">
                <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="@Model.Password"></label>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-floating">
                <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="@Model.ConfirmPassword"></label>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-floating">
                    <input asp-for="@Model.BirthDate" type="date" id="start" class="form-control" autocomplete="birthDate" aria-required="true" 
                       value=@DateTime.Now>
                <label asp-for="@Model.BirthDate">Birth Date</label>
            </div>          
            <p></p>
            <div class="mb-3">
                <label asp-for="@Model.RoleName" class="form-label">Category</label>
                <select asp-for="@Model.RoleName" class="form-control">
                    @foreach (var role in Model.Roles)
                    {
                        <option value="@role.NormalizedName">@role.Name</option>
                    }
                </select>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <p></p>
            <div class="mb-3">
                <label asp-for="@Model.DepartmentId" class="form-label">Department/s</label>
                <select asp-for="@Model.DepartmentId" class="form-control">
                    
                    @foreach (var dep in Model.Departments)
                    {
                        <option value="@dep.Id">@dep.Name</option>
                    }
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>                                

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        @*<section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>*@
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
