
@model SingleFreeRoomModel

<style>
    .available
    {
        background-color: lightgreen;
        border-radius: 10% / 50%;
    }
    .unavailable 
    {
        background-color: lightcoral;
        border-radius: 15px;
    
    }
        
</style>


@if (Model.IsCleaned == true && Model.IsOccupied == false && Model.IsOutOfService == false)
{
    
        <tr class="table-success">
        <th scope="row">@Model.RoomNumber</th>
        <td >@Model.Capacity</td>
        
        <td>@Model.RoomType</td>
        <td>@Model.IsOccupied</td>
        <td>@Model.IsCleaned</td>
        <td>@Model.IsOutOfService</td>
        <td >@Model.PricePerPerson</td>
        <td >@Model.ArrivalDate.Value.ToString("d")</td>
        <td>@Model.DepartureDate.Value.ToString("d")</td>
        <form method="get">
            <input hidden="true" asp-for="@Model.PricePerPerson" value="@Model.PricePerPerson" class="form-control"  aria-required="true" />
            <input hidden="true" asp-for="@Model.Capacity" value="@Model.Capacity"  class="form-control" aria-required="true" />
            <input hidden="true" asp-for="@Model.RoomNumber" value="@Model.RoomNumber" class="form-control" aria-required="true" />
            <input hidden="true" asp-for="@Model.RoomId" value="@Model.RoomId" class="form-control" aria-required="true" />
            <input hidden="true" asp-for="@Model.RoomType" value="@Model.RoomType" class="form-control" aria-required="true" />
            <input hidden="true" type="text" asp-for="@Model.ArrivalDate" value=@Model.ArrivalDate.Value.ToString("yyyy-MM-dd") class="form-control" id="arrival" aria-required="true" />
            <input hidden="true" type="text" asp-for="@Model.DepartureDate" value=@Model.DepartureDate.Value.ToString("yyyy-MM-dd") id="departure" class="form-control" aria-required="true" />
        <td><button asp-action="Reserve" type="submit" asp-controller="Booking">Reserve</button></td>
        </form>
        </tr>
    }
else
    {
    <tr class="table-danger">
        <th scope="row">@Model.RoomNumber</th>
        <td>@Model.Capacity</td>
        <td>@Model.RoomType</td>
        <td>@Model.IsOccupied</td>
        <td>@Model.IsCleaned</td>
        <td>@Model.IsOutOfService</td>
        <td>@Model.PricePerPerson</td>
        <td><button disabled>Reserve</button></td>
        </tr>   
    }





