@model HotelManagement.Web.ViewModels.ReservationsModels.ServiceModels.SingleReservationViewModel
  




<style>
    .available {
        background-color: lightgreen;
        border-radius: 10% / 50%;
    }

    .unavailable {
        background-color: lightcoral;
        border-radius: 15px;
    }
</style>

<tr >
    
    <th scope="row">@Model.RoomNumber</th>
    <td>@Model.ArrivalDate.ToString("d")</td>
    <td>@Model.DepartureDate.ToString("d")</td>
    <td>@Model.GuestFirstName</td>
    <td>@Model.GuestLastName</td>
    <td style="font-weight: bold">@Model.totalPrice</td>
    <td>@Model.Id</td>
    
        @*<form method="get" >
            <td><button onclick="resDetails(event, '@Model.Id', '@Model.RoomNumber', '@Model.ArrivalDate.ToString("d")', '@Model.DepartureDate.ToString("d")', '@Model.GuestFirstName.Replace("'", "-")', '@Model.GuestLastName.Replace("'", "-")', '@Model.GuestNationality', '@Model.NumberOfGuests', '@Model.NumberOfChildren', '@Model.GuestPhoneNumber', '@Model.GuestEmail', '@Model.Address', '@Model.totalPrice')">Reservation details</button></td>
        </form>
*@
    <form method="get">
    <td><button class="btn btn-info" onclick="@(Model.Id)resDetails(event)">Reservation details</button></td>
    </form>

    <form method="post">
        <input hidden="true" asp-for="RoomId" value="@Model.RoomId">
        <input hidden="true" asp-for="Id" value="@Model.Id">
        <input hidden="true" asp-for="RoomNumber" value="@Model.RoomNumber">
        <input hidden="true" asp-for="totalPrice" value="@Model.totalPrice"/>
        @if (@Model.CheckedIn == true && @Model.DepartureDate == DateTime.Today)
        {
        <td><button asp-action="CheckOut" class="btn btn-success" id="checkOut" onclick="@(Model.Id)resCheckOut (event)" asp-controller="Reservations">Check out</button></td>
        }
        else if (@Model.CheckedIn == true)
        {
        <td><button asp-action="CheckOut" class="btn btn-warning" id="checkOut" onclick="@(Model.Id)resCheckOut (event)" asp-controller="Reservations">Early check out</button></td>
        }
        else if (@Model.CheckedIn == false && @Model.DepartureDate == DateTime.Today)
        {
            <td><button  class="btn btn-danger" asp-action="CheckOut" asp-controller="Reservations">No show</button></td>

        }
        else if (@Model.CheckedIn == false && @Model.ArrivalDate > DateTime.Today)
        {
        <td><button asp-action="CheckIn" class="btn btn-warning" id="checkIn" onclick="@(Model.Id)resCheckIn (event)" asp-controller="Reservations">Early check in</button></td>
        }
        else
        {
        <td><button asp-action="CheckIn" class="btn btn-success" id="checkIn" onclick="@(Model.Id)resCheckIn (event)" asp-controller="Reservations">Check in</button></td>
        }
    

    </form>
    


</tr>

<partial name="_JsTestPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}


