@model HotelManagement.Web.ViewModels.ReservationsModels.ServiceModels.SingleReservationViewModel
  

<script type="text/javascript" id="@Model.Id">

    function @(Model.Id)resDetails (e)
    {
        e.preventDefault();
        
        let html = '<div style="font-size: 22px;">Arrival date: @Model.ArrivalDate.ToString("d") <br/> Departure date: @Model.DepartureDate.ToString("d") <br/>' +
            '<br />Guest name: @Model.GuestFirstName @Model.GuestLastName  (@Model.GuestNationality)<br />' +
            '<br />Number of guests: @Model.NumberOfGuests / Children: @Model.NumberOfChildren<br />' +
            '<br />Contact info<br />' +
            '<br />Phone number: @Model.GuestPhoneNumber<br />' +
            '<br />Email: @Model.GuestEmail<br />' +
            '<br />Address: @Model.Address<br /></div>' +
            '<br /><b  style="font-size: 29px;">Price: @Model.totalPrice</b><br />'
        

        Swal.fire({
            title: 'Room #: @Model.RoomNumber',
            html: html,
            icon: 'question'

        }
        )
    }

    function @(Model.Id)resCheckIn (e) {
        e.preventDefault();
        Swal.fire({
            title: 'ID: @Model.Id',
            html: '<br /><b  style="font-size: 29px;">Checking in!</b><br />' +
                '<div style="font-size: 22px;">Arrival date: @Model.ArrivalDate.ToString("d") <br/> Departure date: @Model.DepartureDate.ToString("d") <br/>' +
                '<br />Guest name: @Model.GuestFirstName @Model.GuestLastName  (@Model.GuestNationality)<br />' +
                '<br />Number of guests: @Model.NumberOfGuests / Children: @Model.NumberOfChildren<br />' +
                '<br /><b  style="font-size: 29px;">Price: @Model.totalPrice</b><br />',
            icon: 'success',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Check in!'
        }).then((result) => {
            if (result.isConfirmed) {
                e.target.removeAttribute('onclick');

                e.target.click();
            }
        })
    }

    function @(Model.Id)resCheckOut (e) {
        e.preventDefault();
        Swal.fire({
            title: 'ID: @Model.Id',
            html: '<br /><b  style="font-size: 29px;">Checking out!</b><br />' +
                '<div style="font-size: 22px;">Arrival date: @Model.ArrivalDate.ToString("d") <br/> Departure date: @Model.DepartureDate.ToString("d") <br/>' +
                '<br />Guest name: @Model.GuestFirstName @Model.GuestLastName  (@Model.GuestNationality)<br />' +
                '<br />Number of guests: @Model.NumberOfGuests / Children: @Model.NumberOfChildren<br />',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Check out!'
        }).then((result) => {
            if (result.isConfirmed) {
                e.target.removeAttribute('onclick');

                e.target.click();
            }
        })
    }
    
    function @(Model.Id)resCancel(e) {
        e.preventDefault();
        Swal.fire({
            title: 'ID: @Model.Id',
            html: '<br /><b  style="font-size: 29px;">Cancel!</b><br />' +
                '<div style="font-size: 22px;">Arrival date: @Model.ArrivalDate.ToString("d") <br/> Departure date: @Model.DepartureDate.ToString("d") <br/>' +
                '<br />Guest name: @Model.GuestFirstName @Model.GuestLastName  (@Model.GuestNationality)<br />' +
                '<br />Number of guests: @Model.NumberOfGuests / Children: @Model.NumberOfChildren<br />',
            icon: 'error',
            showCancelButton: true,
            confirmButtonColor: '#ff0000',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Remove reservation!'
        }).then((result) => {
            if (result.isConfirmed) {
                e.target.removeAttribute('onclick');

                e.target.click();
            }
        })
    }

</script>

                
